body {
  margin: 0;
  padding: 0;
  height: 28.453125rem;
  width: 16rem;
  overflow: hidden;
}
p,
ul,
li {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
img {
  border: 0;
  display: block;
}
.clearfix:after {
  content: ".";
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
.swiper-container {
  height: 28.453125rem;
  width: 16rem;
}
#box1 {
  height: 28.453125rem;
  width: 16rem;
  background: url(../images/page1_bg.png) no-repeat;
  position: relative;
}
.people1 {
  position: absolute;
  left: 2.21875rem;
  bottom: 4.65625rem;
}
.people1 img {
  width: 1.640625rem;
  height: 2.421875rem;
}
.people2 {
  position: absolute;
  right: 2.265625rem;
  bottom: 4.515625rem;
}
.people2 img {
  width: 1.6875rem;
  height: 3.28125rem;
}
.people3 {
  position: absolute;
  right: 5.203125rem;
  top: 12.546875rem;
  z-index: 2;
}
.people3 img {
  width: 1.640625rem;
  height: 2.46875rem;
}
.yuan {
  position: absolute;
  left: 1.1875rem;
  bottom: 5.59375rem;
}
.yuan img {
  width: 14.359375rem;
  height: 12.078125rem;
}
.xian1 {
  position: absolute;
  left: 3.328125rem;
  bottom: 8.125rem;
  z-index: 3;
}
.xian1 img {
  width: 9.765625rem;
  height: 4.9375rem;
}
.xian2 {
  position: absolute;
  left: 2.1875rem;
  top: 12.421875rem;
  z-index: 0;
}
.xian2 img {
  height: 7.265625rem;
  width: 12.53125rem;
}
.ball1 {
  position: absolute;
  left: 1.71875rem;
  bottom: 3.4375rem;
}
.ball2 {
  position: absolute;
  right: 0.625rem;
  bottom: 7.328125rem;
}
.ball3 {
  position: absolute;
  right: 1.71875rem;
  bottom: 7.9375rem;
}
.ball4 {
  position: absolute;
  right: 4.453125rem;
  bottom: 4.09375rem;
  z-index: 2;
}
.ball5 {
  position: absolute;
  right: 1.046875rem;
  top: 12.3125rem;
}
.ball6 {
  position: absolute;
  right: 2.671875rem;
  top: 5.984375rem;
}
.ball7 {
  position: absolute;
  left: 0.765625rem;
  top: 8.6875rem;
}
.ball8 {
  position: absolute;
  left: 3.8125rem;
  top: 15.953125rem;
  z-index: 2;
}
.chilun1 {
  position: absolute;
  left: 1.953125rem;
  bottom: 9.140625rem;
  z-index: 1;
}
.chilun1 img {
  width: 3.390625rem;
  height: 3.421875rem;
}
.chilun2 {
  position: absolute;
  left: 2.1875rem;
  bottom: 12.21875rem;
  z-index: 1;
}
.chilun2 img {
  height: 2.0625rem;
  width: 2.0625rem;
}
.chilun3 {
  position: absolute;
  left: 3.671875rem;
  bottom: 11.375rem;
  z-index: 1;
}
.chilun3 img {
  height: 5.28125rem;
  width: 5.28125rem;
}
.chilun4 {
  position: absolute;
  right: 3.875rem;
  bottom: 10.703125rem;
  z-index: 1;
}
.chilun4 img {
  height: 3.828125rem;
  width: 3.796875rem;
}
.chilun5 {
  position: absolute;
  right: 2.0625rem;
  bottom: 7.984375rem;
  z-index: 1;
}
.chilun5 img {
  height: 3.296875rem;
  width: 3.296875rem;
}
.chilun6 {
  position: absolute;
  right: 1.125rem;
  bottom: 10.390625rem;
  z-index: 1;
}
.chilun6 img {
  width: 1.5625rem;
  height: 1.5625rem;
}
.chilun7 {
  position: absolute;
  right: 6.71875rem;
  bottom: 7.734375rem;
  z-index: 1;
}
.chilun7 img {
  height: 1.75rem;
  width: 1.75rem;
}
.chilun8 {
  position: absolute;
  left: 4.9375rem;
  bottom: 10.703125rem;
  z-index: 1;
}
.chilun8 img {
  height: 1.234375rem;
  width: 1.234375rem;
}
.zhalan {
  position: absolute;
  left: 3.515625rem;
  top: -11.71875rem;
}
#word {
  position: absolute;
  bottom: 1.5625rem;
  left: 0;
  height: 2.015625rem;
  width: 9.21875rem;
}
#word2 {
  position: absolute;
  left: 0.578125rem;
  bottom: 3.4375rem;
  transform: scale(0);
  height: 3.65625rem;
  width: 3.1875rem;
}
#word0 {
  position: absolute;
  left: 2.640625rem;
  bottom: 3.4375rem;
  z-index: 2;
  transform: scale(0);
  height: 3.46875rem;
  width: 3.453125rem;
}
#word1 {
  position: absolute;
  left: 5.28125rem;
  bottom: 3.4375rem;
  z-index: 3;
  transform: scale(0);
  height: 3.65625rem;
  width: 1.421875rem;
}
#word7 {
  position: absolute;
  left: 5.953125rem;
  bottom: 3.4375rem;
  z-index: 4;
  transform: scale(0);
  height: 3.640625rem;
  width: 2.75rem;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.header img {
  width: 16rem;
  height: 2.734375rem;
}
.zhuazim {
  position: absolute;
  top: -15.3125rem;
  left: 3.90625rem;
  z-index: 5;
}
.zhuazi {
  position: absolute;
  left: 3.28125rem;
  top: 0;
  z-index: 7;
}
#zhuazi {
  height: 11.046875rem;
  width: 2.78125rem;
}
#page1_top {
  height: 12.125rem;
  width: 9.265625rem;
}
.m {
  position: absolute;
  left: 0;
  top: 9.0625rem;
  z-index: 5;
}
.m img {
  width: 9.046875rem;
  height: 9.46875rem;
}
#lianzileft {
  position: absolute;
  left: 0.734375rem;
  bottom: 4.890625rem;
  z-index: 2;
  opacity: 0;
  width: 3.828125rem;
  height: 6.125rem;
}
#lianziright {
  position: absolute;
  right: 0.796875rem;
  bottom: 5.34375rem;
  z-index: 2;
  opacity: 0;
  width: 3.046875rem;
  height: 4.9375rem;
}
#xia {
  position: absolute;
  bottom: 0.90625rem;
  left: 7rem;
  height: 1.109375rem;
  width: 1.984375rem;
}
/*第二页*/
#box2 {
  height: 28.453125rem;
  width: 16rem;
  background: url(../images/page1_top2.png) no-repeat 0 0, url(../images/page2_bg.png) no-repeat;
  position: relative;
  overflow: hidden;
}
.zuanshi1 {
  position: absolute;
  top: 3.953125rem;
  left: 7.078125rem;
}
.zuanshi2 {
  position: absolute;
  top: 6.859375rem;
  left: 7.078125rem;
}
.zuanshi3 {
  position: absolute;
  top: 8.515625rem;
  right: 1.640625rem;
}
.zuanshi4 {
  position: absolute;
  top: 3.953125rem;
  left: 7.078125rem;
}
.zuanshi5 {
  position: absolute;
  top: 9.921875rem;
  left: 0.734375rem;
}
.zuanshi6 {
  position: absolute;
  bottom: 8.9375rem;
  left: 11.6875rem;
}
.zuanshi7 {
  position: absolute;
  bottom: 11.3125rem;
  left: 7.265625rem;
}
.ta {
  position: absolute;
  top: 2.78125rem;
  left: 4.40625rem;
}
#page2_word {
  position: absolute;
  left: 1.078125rem;
  top: 5.953125rem;
  overflow: hidden;
  width: 0;
}
#miaowei {
  position: absolute;
  bottom: 7.453125rem;
  left: 5.0625rem;
  opacity: 0;
}
#page2_border_bottom {
  height: 0.15625rem;
  background: #fff;
  width: 0rem;
  position: absolute;
  left: 8rem;
  bottom: 3rem;
}
#page2_border_right {
  background: #fff;
  width: 0.15625rem;
  height: 0rem;
  position: absolute;
  right: 1.828125rem;
  bottom: 3.15625rem;
}
#page2_border_left {
  background: #fff;
  width: 0.15625rem;
  height: 0rem;
  position: absolute;
  left: 1.828125rem;
  bottom: 3.15625rem;
}
#page2_border_topleft {
  background: #fff;
  height: 0.15625rem;
  width: 0rem;
  position: absolute;
  left: 1.828125rem;
  bottom: 7.984375rem;
}
#page2_border_topright {
  background: #fff;
  height: 0.15625rem;
  width: 0rem;
  position: absolute;
  right: 1.828125rem;
  bottom: 7.984375rem;
}
#bottomword {
  width: 8.125rem;
  height: 2.8125rem;
  position: absolute;
  left: 3.90625rem;
  bottom: 3.984375rem;
  overflow: hidden;
}
#bottomword img {
  position: absolute;
  left: 0;
  top: -2.8125rem;
}
#suipian {
  height: 1.25rem;
  width: 1.25rem;
  position: absolute;
  right: -1.25rem;
  bottom: 6.25rem;
}
#suipian li {
  position: absolute;
  left: 0;
  top: 0;
  height: 1.25rem;
  width: 1.25rem;
  transform: rotateZ(40deg);
}
#suipian img {
  height: 1.25rem;
  width: 1.25rem;
}
/*第三页*/
#box3 {
  height: 28.453125rem;
  width: 16rem;
  background: url(../images/page1_top2.png) no-repeat 0 0, url(../images/page3_bg.png) no-repeat;
  position: relative;
  overflow: hidden;
}
#gongzuoneirong {
  position: absolute;
  top: 2.984375rem;
  left: 0.734375rem;
  overflow: hidden;
  width: 3.4375rem;
  height: 5.765625rem;
  z-index: 2;
}
#renzhitiaojian {
  position: absolute;
  top: 12.515625rem;
  right: 0rem;
  overflow: hidden;
  width: 3.671875rem;
  height: 6rem;
  z-index: 2;
}
#gongzuoneirong img {
  position: absolute;
  top: -4.453125rem;
  left: 0;
}
#renzhitiaojian img {
  position: absolute;
  top: -4.453125rem;
  left: 0;
}
#gongzuoneirongword {
  height: 8.09375rem;
  width: 12.34375rem;
  position: absolute;
  left: 1.828125rem;
  top: 3.828125rem;
}
#gongzuoneirongword div {
  height: 2.0234375rem;
  width: 1.234375rem;
  position: absolute;
  /*opacity: 0.5;*/
  background: #830fb9;
  transform-origin: left center;
}
#renzhitiaojianword {
  height: 10.3125rem;
  width: 12.34375rem;
  position: absolute;
  left: 1.828125rem;
  top: 13.46875rem;
}
#renzhitiaojianword div {
  height: 1.71875rem;
  width: 1.234375rem;
  position: absolute;
  background: #830fb9;
  /*opacity: 0.5;*/
  transform-origin: left center;
}
.page3_word1_top:after,
.page3_word2_top:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0.15625rem;
  width: 100%;
  background: #fff;
}
.page3_word1_left:before,
.page3_word2_left:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0.15625rem;
  height: 100%;
  background: #fff;
}
.page3_word1_right:before,
.page3_word2_right:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0.15625rem;
  height: 100%;
  background: #fff;
}
.page3_word1_bottom:after,
.page3_word2_bottom:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.15625rem;
  width: 100%;
  background: #fff;
}
#gongzuoneirongul {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1.25rem;
  font-size: 0.65625rem;
  color: #fff;
  height: 7.1875rem;
  width: 11.4375rem;
  padding-top: 0.90625rem;
  padding-left: 0.90625rem;
  z-index: 20;
}
#gongzuoneirongul li span {
  display: block;
  float: left;
  transform-origin: left center;
  transform: rotateY(-90deg);
}
#renzhitiaojianul {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1.25rem;
  font-size: 0.65625rem;
  color: #fff;
  height: 9.40625rem;
  widows: 11.4375rem;
  padding-top: 0.90625rem;
  padding-left: 0.90625rem;
  z-index: 20;
}
#renzhitiaojianul li span {
  display: block;
  float: left;
  transform-origin: left center;
  transform: rotateY(-90deg);
}
/*第四页*/
#box4 {
  height: 28.453125rem;
  width: 16rem;
  background: url(../images/page1_top2.png) no-repeat 0 0, url(../images/page4_bg.png) no-repeat 0 2.734375rem;
  position: relative;
  overflow: hidden;
}
#page4_spall {
  height: 28.453125rem;
  width: 16rem;
  position: absolute;
  top: 28.453125rem;
  left: 0;
}
#page4_spall img {
  position: absolute;
  left: 0;
  top: 0;
}
#page4_wenzi {
  position: absolute;
  left: 1.171875rem;
  bottom: 4.03125rem;
  height: 13.3125rem;
  width: 13.65625rem;
}
#page4_word1 div,
#page4_word2 div,
#page4_word3 div,
#page4_word4 div,
#page4_word5 div,
#page4_word6 div,
#page4_word7 div,
#page4_word8 div,
#page4_word9 div,
#page4_word10 div {
  height: 1.33125rem;
  width: 1.365625rem;
  background: #b9264d;
  opacity: 0.8;
  position: absolute;
  transform: rotateY(-90deg);
  transform-origin: left;
}
.page4_top:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0.15625rem;
  width: 100%;
  background: #fff;
}
.page4_left:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0.15625rem;
  height: 100%;
  background: #fff;
}
.page4_right:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0.15625rem;
  height: 100%;
  background: #fff;
}
.page4_bottom:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.15625rem;
  width: 100%;
  background: #fff;
}
#page4_wenzi2 {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  height: 13.21875rem;
  width: 12.4375rem;
  line-height: 1.46875rem;
  font-size: 0.75rem;
  color: #fff;
  padding-left: 1.21875rem;
  padding-top: 0.71875rem;
}
#page4_wenzi2 li {
  height: 1.46875rem;
  width: 100%;
  transform: rotateY(-90deg);
  transform-origin: left center;
}
/*第五页*/
#box5 {
  height: 28.453125rem;
  width: 16rem;
  background: url(../images/page1_top2.png) no-repeat 0 0, url(../images/page5_bg.png) no-repeat 0 2.734375rem;
  position: relative;
  overflow: hidden;
}
.qiu1 {
  position: absolute;
  left: 5.03125rem;
  top: 5.578125rem;
  animation: move 4s linear infinite;
  z-index: 1;
}
.qiu2 {
  position: absolute;
  right: 1.140625rem;
  top: 5.453125rem;
  animation: move 4s linear infinite;
  z-index: 1;
}
.qiu3 {
  position: absolute;
  left: 1.25rem;
  top: 12.625rem;
  animation: move 4s linear infinite;
  z-index: 1;
}
.qiu4 {
  position: absolute;
  right: 8.375rem;
  top: 13.546875rem;
  animation: move 4s linear infinite;
  z-index: 1;
}
.qiu5 {
  position: absolute;
  right: 1.9375rem;
  bottom: 7.6875rem;
  animation: move 4s linear infinite;
  z-index: 1;
}
.page5_wordall {
  width: 14.71875rem;
  height: 5.328125rem;
  position: absolute;
  left: 1.28125rem;
  bottom: 1.578125rem;
}
.erweima {
  float: left;
}
.page5_word {
  float: left;
  height: 5.015625rem;
  width: 8.671875rem;
  padding: 0.3125rem 0rem 0rem 0.71875rem;
  line-height: 1.40625rem;
  font-size: 0.6875rem;
  color: #fff;
}
.page5_xian {
  position: absolute;
  left: -2.34375rem;
  top: 2.046875rem;
  z-index: 0;
}
@keyframes move {
  0% {
    transform: translateY(0rem);
  }
  25% {
    transform: translateY(-0.3125rem);
  }
  50% {
    transform: translateY(0rem);
  }
  75% {
    transform: translateY(0.3125rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
#page5_jianli {
  position: absolute;
  left: 1.53125rem;
  top: 7.5625rem;
  height: 6.625rem;
  width: 12.9375rem;
  animation: move 4s linear infinite;
}
#page5_wenzi {
  position: absolute;
  left: 0.78125rem;
  top: 1.25rem;
  z-index: 2;
  opacity: 0;
  animation: move 4s linear infinite;
}
#page5_word1 div,
#page5_word2 div,
#page5_word3 div,
#page5_word4 div {
  height: 1.65625rem;
  width: 1.29375rem;
  background: #1e8b52;
  opacity: 0.8;
  position: absolute;
  transform: rotateY(-90deg);
  transform-origin: left;
}
.page5_top:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0.15625rem;
  width: 100%;
  background: #fff;
}
.page5_left:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0.15625rem;
  height: 100%;
  background: #fff;
}
.page5_right:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0.15625rem;
  height: 100%;
  background: #fff;
}
.page5_bottom:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.15625rem;
  width: 100%;
  background: #fff;
}
